.product {
    display: flex;
    flex-direction: column;
    padding: 18px;
    position: relative;
    width: 170px;
    height: 450px;
}


.img {
    width: 100%;
    background: lightgray;
    height: 100px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.description {
    font-size: 0.8em;
    color: #757575;
    margin-top: 10px;
}
.title{
    margin-top: 5px;
}
.price-text{
    font-weight: 700;
    font-size: 18px;
}
.price{
    margin-top: 10px;
}
.add-btn {
    width: 120px;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    margin: 10px auto 10px auto;
    height: 40px;
    color: white;
    background: #e4002b;
    border-radius: 50px;
}
