@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
